* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	border: none;
}

body {
	background: linear-gradient(to bottom, #00FFFF, #CCFF33);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.wrapper {
	position: relative;
	border-radius: 15px;
	width: 350px;
	height: 100%;
	color: white;
	overflow: hidden;
}

.form-wrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 15px;
	padding: 10px 15px;
	backdrop-filter: brightness(90%);
	transition: 0.4s ease-in-out;
}

.form-wrapper h1 {
	font-size: 40px;
	text-align: center;
	color: black;
}

.form-wrapper .input-box {
	position: relative;
	height: 50px;
	margin: 30px 0px;
}

.input-box input {
	background: transparent;
	width: 100%;
	height: 100%;
	border: 2px solid rgb(128, 128, 128, 0.1);
	border-radius: 30px;
	padding: 0px 5%;
	font-size: 16px;
	outline: none;
}

.input-box label {
	color: black;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	pointer-events: none;
	outline: none;
	transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top : -30%;
}

.form-wrapper .btn {
	background: rgb(0, 0, 0, 0.15);
	padding: 0px 20px;
	height: 40px;
	border-radius: 40px;
	font-size: 20px;
	margin-left: 50%;
	transform: translateX(-60%);
}

.form-wrapper .btn:hover {
	background: rgb(0, 0, 0, 0.30);
}

.form-wrapper p {
	padding: 15px 0;
	font-weight: bold;
}

.wrapper.active .form-wrapper.login-wrapper {
	transform: translateY(-100%) translateX(100%);
	top: 20%;
	left: 0%;
	right: -10%;
}

.wrapper.active .form-wrapper.register-wrapper {
	top: 50%;
	left: 0%;
	right: 0%;
}

.register-wrapper {
	top: 100%;
	left: -100%;
	right: 120%;
}
